.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

.login-form input::placeholder {
  color: rgba(255,255,255,0.7);
}

.login-form button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #ffdd57;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.login-form button:hover {
  background-color: #ffe98a;
}

.register-link {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

.register-link span {
  color: #ffdd57;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.register-link span:hover {
  color: #ffe98a;
}
